<div class="pagination clearfix mb1 mt4">
  <div class="left">
      {% if page.previous.url %}
      <a class="pagination-item" href="{{ page.previous.url }}">{{ site.text.pagination.older }}</a>
      {% else %}
      <span class="pagination-item disabled">{{ site.text.pagination.older }}</span>
      {% endif %}
  </div>

  <div class="right">
      {% if page.next.url %}
      <a class="pagination-item" href="{{ page.next.url }}">{{ site.text.pagination.newer }}</a>
      {% else %}
      <span class="pagination-item disabled">{{ site.text.pagination.newer }}</span>
      {% endif %}
  </div>
  <div class="pagination-meta">Please read more!</div>
</div>
