<div class="PageNavigation">
    {% if page.previous.url %}
    <span>&#8656;
        <a title="tags: {{ page.previous.tags | array_to_sentence_string }}; word count: {{ page.previous.content | number_of_words }}"
           href="{{page.previous.url}}">
            {{page.previous.title}}</a>
    </span>
    {% else %}
    <span></span>
    {% endif %}
    {% if page.next.url %}
    <span class="next">
        <a title="tags: {{ page.next.tags | array_to_sentence_string }}; word count: {{ page.next.content | number_of_words }}"
           href="{{page.next.url}}">
            {{page.next.title}}</a> &#8658;
    </span>
    {% endif %}
</div>
