/* some style */

.sidebar {
    background-color: grey;
    color: black;
    text-align: center;
    padding: 2rem 1rem;
}

a {
    color: white;
}

a:hover {
    color: black;
}

@media (min-width: 48em) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 8rem;
        text-align: left;
    }
}

.content {
    /* padding-top: 1rem; */
    padding-bottom: 4rem;
}

@media (min-width: 48rem) {
    .content {
        margin-left: 8rem;
        margin-right: 4rem;
    }
}

body {
    margin: 40px;
}

.money {
    background-color: #444;
    color: #3f3;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.user-comm {
    display: grid;
    width: 500px;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.comm {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
