.right {
    color: #6B6B6B;
    font-family: Montserrat;
    max-width: 30%;
    float: right;
    padding-left: 10px;
    text-align: center;
    font-size: .7em;
}

.left {
    color: #6B6B6B;
    font-family: Montserrat;
    max-width: 30%;
    float: left;
    padding-right: 10px;
    text-align: center;
    font-size: .7em;
}

.largeleft {
    color: #6B6B6B;
    font-family: Montserrat;
    max-width: 75%;
    float: left;
    padding-right: 4px;
    text-align: center;
    font-size: .7em;
}

.largeright {
    color: #6B6B6B;
    font-family: Montserrat;
    max-width: 75%;
    float: right;
    padding-left: 4px;
    text-align: center;
    font-size: .7em;
}
